.current-question {
  padding-top: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;

  display: grid;
  grid-template-columns: 1rem 20rem auto 20rem 1rem;
  grid-template-rows: auto;
  grid-template-areas:
          ". category . question ."
          ". . . answer .";

  .category {
    grid-area: category;
  }

  .question {
    grid-area: question;
  }

  .answer {
    grid-area: answer;
  }
}

.content {
  align-items: flex-start;
}