.panel {
  width: 18rem;
  height: 100%;

  .list-group {
    height: 100%;
    overflow-y: auto;
  }

  .card {
    height: 80%;
  }

  .card-actions {
    display: flex;
    justify-content: center;
  }

}

