html, body, #root, .App {
  height: 100%;
}

.page {
  display: flex;
  padding-top: 4%;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}